body {
  /*font-size: 1.5em;*/
  background-image: url('/img/backgrd.jpg');
  background-size: cover;
  color:orange;
}
.jumbotron {
  background: none;
}
h1 {
  font-family: 'Tangerine', serif;
  font-size: 10em;
}
a {
  text-decoration: none;
  color: mediumpurple;
}
a:hover {
  color: cyan;
  text-decoration: none;
}
.error {
  color: red;
  font-weight: bold;
  display: none;
}
.active {
  color: gold;
}
.category {
  color: limegreen;
}
.item {
  padding: 10px;
}
.title {
  font-size: 1.8em;
  color: fuchsia;
}
.description {
  color: cornflowerblue;
}
li {
  list-style: none;
}
li[ui-sref]:hover {
  list-style: none;
  cursor: pointer;
  color: lime;
}
